.container {
    margin: -8px;
    background-color: white;
}

.background {
    background-color: #252629;
}

.title-bar {
    margin: auto;
    width: 50%;
    display: flex;
    margin-top: -40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.title-bar p {
    font-family: 'Oswald';
    padding: 5px;
    font-size: 50px;
}

.tabs {
    display: flex;
    font-family: 'Oswald';
    text-decoration: none;
    color: #252629;
    justify-content: center;
    margin-top: -50px;
}

.tabs div {
    padding: 25px;
}

.about {
    padding-top: 120px;
    margin: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt {
    font-size:x-large;
    font-weight: bold;
}

.about-me {
    font-family: 'Poppins';

    padding-left: 90px;
}